{% extends "layout.html" %}

{% block title %}About Baller Recipes{% endblock %}


    {% block content %}

</br></br></br></br></br></br>

<p> Baller Recipes was created as a class project for an entry level Python class through
<a href="http://www.davincicoders.com/">Davinci Coders</a>.  My wife has always told me that she wished she could
search recipes based on ingredients we had at the house.  It seemed like as good a project as any when I had to pick a
topic.  Prior to starting the 12 week Python course, I had no experience with computer programming.  This projects was
started week 7.

    {% endblock %}