{% extends "layout.html" %}

{% block title %}My Favorite Recipes{% endblock %}

  {% block content %}

</br></br></br>

    {% if count != null %}

        <p>There {% if count == 1 %} is {% endif %} {% if count != 1 %} are {% endif %} {{ count }}
            recipe{{ count|pluralize }} in your favorites list</p>

    {% for obj in favorites_list %}

        <br/>

        <a href="{{ obj.get_absolute_url }}">  <h4> {{ obj.fav_recipe.recipe_name }} </h4> </a>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ obj.meal_type }} <br/>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ obj.fav_recipe.description }} <br/>

    {% endfor %}

    {% endif %}

        {% endblock %}