{% extends "layout.html" %}

{% block title %}Baller Recipes{% endblock %}


    {% block content %}

              <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Have the Most Chillinest Recipes on the Block!</h1>
        <p>Warning: cooking recipes from this site will cause others to fall hopelessly in love with you</p>
      </div>


      <div class="container">
         <h3>What types of meal(s) are you looking for?</h3>
         <form>
            <label class="checkbox-inline">
                <input type="checkbox" value="Breakfast">Breakfast
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="Lunch">Lunch
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="Dinner">Dinner
            </label>
            <br>
            <label class="checkbox-inline">
                <input type="checkbox" value="Appetizer">Appetizer
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="Side_Dish">Side Dish
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="Dessert">Dessert
            </label>
         </form>


      <div>
          <form action="" method="GET">
              <input type="text" name='q' placeholder="Recipe Name or Ingredients here" />
              <input id=search_recipe_form type="submit" value="Search Recipes!" />
          </form>
      </div>

        <p>There are {{ queryset_results.object_set.count }} recipe{{ obj.title_set.count|pluralize }} matching your search</p>
        {% for obj in queryset_results %}


        <br/>
        <!-- {% url "recipes:detail" id=obj.id %} -->
        <a href="{{ obj.get_absolute_url }}">  <h4> {{ obj.recipe_name }} </h4> </a>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ obj.description }} <br/>

        {% endfor %}

        {% endblock %}
