{% extends "layout.html" %}

{% block title %}Baller Recipes{% endblock %}

{% load ratings %}

    {% block content %}

              <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>An edible maelstrom of organic debris</h2>
        <p>brings a whole new meaning to Awesome Possum!</p>
      </div>


      <div class="container">
         <h3>What types of meal(s) are you looking for?</h3>



          <div>
          <form action="" method="GET" class="multiselect">
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Breakfast">Breakfast
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Lunch">Lunch
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Dinner">Dinner
            </label>
            <br>
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Appetizer">Appetizer
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Side_Dish">Side Dish
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="mealtype" value="Dessert">Dessert
            </label>
            </br>

              <input type="text" name='q' placeholder="Recipe Name or Ingredients here" />
              <input id=search_recipe_form type="submit" value="Search Recipes!" />
          </form>
      </div>

        {% if count != null %}

        <p>There {% if count == 1 %} is {% endif %} {% if count != 1 %} are {% endif %} {{ count }}
            recipe{{ count|pluralize }} matching your search</p>

        {% for obj in queryset_results %}

        <br/>
        <!-- {% url "recipes:detail" id=obj.id %} -->
        <a href="{{ obj.get_absolute_url }}">  <h4> {{ obj.recipe_name }} </h4> </a>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ obj.meal_type }} <br/>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ obj.description }} <br/>

        {% endfor %}

        {% endif %}

        {% endblock %}
