{% extends "layout.html" %}

{% block title %}Baller Recipes{% endblock %}

{% block content %}

</br></br></br>


        {% load ratings %}
        {% ratings rec %}


        <form method="post" action="">
        <button type="submit" name="favorite" class="btn btn-success">
            Favorite this Recipe </button>
        {% csrf_token %}
        </form>

        <h1> {{ rec.recipe_name }} </h1> <br/>
        Description: {{ rec.description}}<br/><br/>
        Meal Type: {{ rec.meal_type }}<br/><br/>


        Ingredients: <br/>
        {% for ings in rec.ingredient_set.all %}
        {{ ings.quantity }}
        {{ ings.measurement_unit }}
        {{ ings.ingredient_name }}<br/>
        {% endfor %}<br/>

        Directions: {{ rec.directions }}<br/><br/>
        Created By: {{ rec.author }}<br/><br/>
        Created On: {{ rec.created }}<br/><br/>
        Last Modified: {{ rec.modified }}<br/><br/>

        {% if rec.author.pk == request.user.pk %}
        <a class="btn btn-warning" href="{% url 'recipes:update' pk=rec.pk %}" type="button"
                 role="button">Edit Recipe</a>
        {% endif %}


{% endblock %}