{% extends "layout.html" %}

{% block title %}Baller Recipes{% endblock %}

{% block content %}

</br></br></br>

<!-- /*       {% load pinax_ratings_tags %}

        {% overall_rating obj as the_overall_rating %}
        Overall Rating: <div class="overall_rating">{{ the_overall_rating }}</div>

        {% user_rating request.user obj as the_user_rating %}
        Your Rating: <div class="user_rating">{{ the_user_rating }}</div>

        <h1> {{ rec.recipe_name }} </h1> <br/>
        Description: {{ rec.description}}<br/><br/>
        Meal Type: {{ rec.meal_type }}<br/><br/>

*/ -->
        Ingredients: <br/>
        {% for ings in rec.ingredient_set.all %}
        {{ ings.quantity }}
        {{ ings.measurement_unit }}
        {{ ings.ingredient_name }}<br/>
        {% endfor %}<br/>

        Directions: {{ rec.directions }}<br/><br/>
        Created: {{ rec.created }}<br/><br/>
        Last Modified: {{ rec.modified }}<br/><br/>


<!-- /*  {% user_rating_js request.user obj %}  */ -->
{% endblock %}